.navbar-brand{
    margin-left: 2rem;
}


.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
  margin:2%;
  margin-left: auto;
  margin-right: 2%;
}

.nav-item{
    margin:15px;
    
}


.navbar-nav{
    font-family: Karla;
    
}

.nav-link{
color:black !important;
}

.active{
    font-style: strong !important;
    
}

#mainactive{
    color: goldenrod !important;
}

