.navbar-brand{
    margin-left: 2rem;
}


.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
  margin:2%;
  margin-left: auto;
  margin-right: 2%;
}

.nav-item{
    margin:15px;
    
}


.navbar-nav{
    font-family: Karla;
    
}

.nav-link{
color:black !important;
}

.active{
    font-style: strong !important;
    
}

#mainactive{
    color: goldenrod !important;
}



.jumbotron{
    text-align: center;
}

.display-4{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.lead{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.my-4{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.btn{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: #EFE9A4;
    border-color: #EFE9A4;
    color:black;
    
}

.cardContent{
    text-align: center !important;
}

.workTitle{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.workText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}




.quoteText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.blockquote-footer{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.card-img-top{
    border-radius: 1px;
}

.aboutTitle{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.aboutSubTitle{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.aboutText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}